######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Java build output (keep jar for deployment)
target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.war
.DS_Store

# Docker data
mysql/data/
redis/data/

# Local installed software (not needed for deployment)
nginx-1.18.0/
Redis-x64-5.0.14/

# Env files (contain passwords)
.env
*.env.local

# Keep compiled frontend (needed for deployment)
!ruoyi-ui/dist/

!*/build/*.java
!*/build/*.html
!*/build/*.xml
